body {
    margin: 10px;
    height: 200vh; /* Adjust the height based on your content or design */
    background-color: #406A71;

}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('pictures/first-aid.jpg') center/cover fixed;

    filter: blur(5px) brightness(60%);
    
    z-index: -1; /* Place the background behind other content */
}


header {
    font-family: copperplate, fantasy;
    font-size: 50px;
    background-color: #244a52;
    border-radius: 8px;
    border: 8px solid #1b373d;
    padding: 10px;
    text-align: center;
    letter-spacing: 1.5px;
    margin-top: 20px;
    margin-bottom: 50px;
}
h1 {
    color: #fffdfd;
    text-align: center;
    font-family: copperplate, fantasy;
    
} 

h2{
    letter-spacing: 1.5px;
    font-family: copperplate, fantasy;
    color: whitesmoke;
    font-size: 50px;
    text-align: left;
}

h3{
    text-align: left;
    color: whitesmoke;
    font-size: 50px;
}



p{
    font-family: sans-serif, arial;
    font-size: 25px;
    line-height: 1.6;
    color: #ffffff;
    text-align: left;

}   

p1 {
    font-family: copperplate, fantasy;
    font-stretch: ultra-expanded;
    color: rgb(255, 74, 74);
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}


ol, li{
    font-family: sans-serif, arial;
    margin-left: 0px;
    color:white;
    font-size: 25px;
    text-align: left;
}

img {
    display: block; /* Make the image a block element to control its layout */
    margin: 0 auto; /* Center the image horizontally */
    max-width: 100%; /* Make sure the image doesn't exceed its natural size */
    height: auto; /* Maintain the image's aspect ratio */
    width: 50%;
    
}

main {
    max-width: 900px;
    margin: 0px auto; /* Centers the main element horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
    min-height: 100vh;
    padding-bottom: 50px;

}

.nb-container {
    padding: 20px;
    margin-top: 20px;
    display: inline-block; /* Make the container an inline-block element */
    max-width: 100%; /* Ensure the container doesn't exceed the available width */
    white-space: normal;
    
}
.cpr-container {
    text-align: center;
    padding: 20px;
    margin-top: 20px; /* Adjust the margin-top based on your design */
}

.cpr-container img {
    max-width: 100%;
    height: auto;
    width: 80%; /* Adjust the width based on your design */
    margin-top: 10px; /* Add some space between the title and the image */
}

.large-button {
    width: 200px;
    height: 80px;
    font-size: 20px;
}

.text-container {
    width: 1250px;
    text-align: center;
    background-color: #244a52; /* Adjust as needed */
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: auto;
    border-radius: 10px;
    border: 8px solid #1b373d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional: Add shadow */
}