body {
    margin: 0;
    height: 200vh; /* Adjust the height based on your content or design */
    background: 
    url('pictures/Blake_Blog-Post.jpg') center/cover fixed,
    url('pictures/Blake_Blog-Post.jpg') center/cover fixed;
    backdrop-filter: blur(5px);
}

h1 {
    font-size: 100px !important;
    font-family: copperplate, fantasy;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 50px; /* Add padding to the h1 for better visibility */
    font-size: 50px;
    background: rgba(255, 255, 255, 0.7); /* Add a semi-transparent white background for better text visibility */
}

h2{
    letter-spacing: 1.5px;
    font-family: copperplate, fantasy;
    color: whitesmoke;
    font-size: 50px;
}

h3{
    text-align: center;
    color: whitesmoke;
    font-size: 50px;
}



p{
    font-family: Garamond, serif;
    color: whitesmoke;
    font-size: 25px;
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 30px;
    margin-bottom: 20px;

}   

p1 {
    font-family: copperplate, fantasy;
    font-stretch: ultra-expanded;
    color: rgb(255, 74, 74);
    font-size: 30px;
}


ol, li{
    margin-left: 0px;
    font-family: Garamond, serif;
    color:white;
    font-size: 25px;
}

img {
    display: block; /* Make the image a block element to control its layout */
    margin: 0 auto; /* Center the image horizontally */
    max-width: 100%; /* Make sure the image doesn't exceed its natural size */
    height: auto; /* Maintain the image's aspect ratio */
    width: 50%;
    
}

main {
    padding: 1em;
}

.nb-container {
    border-radius: 8px;
    background: rgb(0, 0, 0);
    padding: 20px;
    margin-top: 20px;
    display: inline-block; /* Make the container an inline-block element */
    max-width: 100%; /* Ensure the container doesn't exceed the available width */
    white-space: normal;
    
}
.cpr-container {
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border: 8px solid #000;
    border-radius: 10px;
    margin-top: 20px; /* Adjust the margin-top based on your design */
}

.cpr-container img {
    max-width: 100%;
    height: auto;
    width: 80%; /* Adjust the width based on your design */
    margin-top: 10px; /* Add some space between the title and the image */
}