body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
    background-color: #FFFFFF;
}

header {
    background-color: #333;
    color: #FF0000;
    padding: 10px;
    text-align: center;
}

main {
    max-width: 900px;
    margin: 25px auto;
}

h1 {
    color: #f4f4f4;
}

p {
    line-height: 1.6;
    color: #4b4b4b;
}

section:first-child {
    margin-bottom: 50px;
}

li {
    color: #4b4b4b;
}