/* IGAKS JUHUKS KÕIK OLULISED KOMENTAARID ON LÕPPUS, HAKKASIN SEALT NEED TEGEMA, ÜLEVAL EI TAHA NEED
ENAM TEHA, ET KUI TEE EI SAA MIDAGI ARU, VAADAKE LÕPPUS*/

/* ISEGI SEAL KUI MA PALUN TEID MITTE MIDAGI EI TEHA, SAATA VAHETADA SEADMED MIS ON NUMBRIGA,
NÄGU "height: 100%"   AGA KUI VAHETATE MIDAGI, SIIS PALUN PÄRAST MUUTUGE SEDA TAGASI NAGU SEE OLI ENNE*/

body {   /* "body" seadmed */
    text-decoration: none;
    font-family: Garamond, serif;
    margin: 0;
    padding: 0px;
    text-align: center;
    margin-top: 0px;
    background-color: #221b1b;
}

p {    /* Siin ma vahetan tavalise teksti suurus, värv jne*/
    line-height: 1.6;
    font-size: 40px;
}

h1 {     /* Siin ma tegelen main heading-iga, vahetan suurus, font-i, värvi */
    font-size: 100px;
    font-family: copperplate, fantasy;
    color: #ffffff;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('pictures/first-aid.jpg') center/cover fixed;

    filter: blur(5px) brightness(60%);
    
    z-index: -1; /* Place the background behind other content */
}

.picture-boxes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
    
}

.box {  /* class "box" */
    position: relative;
    width: 45%;
    min-height: 400px; 
    padding: 15px; /* Add padding to the box */
    background-color: hsl(0, 0%, 100%);
    margin: 5px; 
    text-align: center;
    border: 8px solid #000; /* Add a border to the box */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
    
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
}


.box > p {
    text-decoration: none;
    font-size: 30px;
    margin-top: auto;
    margin-bottom: 10px;
    font-family: copperplate, fantasy;
    color: rgb(255, 255, 255);
    display: inline-block; /* Ensure the border wraps around the text */
    border: 2px solid #000; /* Add a border to the text */
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #000;
}

.box > a {
    text-decoration: none;
}



.text > a {  /* "a" on link, siin ma panin seadmed kõikidele linkidele mis on "text" classi sees */
    font-size: 40px;
    color: blanchedalmond;

}


.container {  /* Ei oska öelda mis on container, lihtsalt mingi class */
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
}

.text {    /* See on mul terve class "text", kõik tekst mis on sellel classis on selle seadmetega*/
    position: relative;
    color: rgb(255, 255, 255); /* Set text color to white for better visibility on the dark background */
    text-align: center;
}



